input:invalid {
    border-color: #900;
    background-color: #fdd;
}

input:valid {
    border-color: #090;
    background-color: #dfd;
}

#message {
    font-weight: bold;
    color: #090;
    display: none;
}

.appear {
    display: block!important;
}